body {
    background-color: black;
    text-align: center;
    margin: 80px auto;
    font-family: 'VT323', monospace;
    font-size: 20px;
    position: relative;
}
.pong {
    font-weight: 800;
    font-size: 1px;
    text-transform: uppercase;
    letter-spacing: 3.5em;
    /* position: relative; */
    color: white;
}

.pong .word {
    display: inline-block;
    line-height: 1em;
    /* position: relative; */
    color: white;
    font-size: 60px;
}
#startScreen {
    height: 500px;
    width: 500px;
    background: black;
    color: white;
    text-align: center;
    font-size: 60px;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    align-items: center;
    /* top: 80px; */
    border: 5px solid white;
    
}
#container {
    height: 500px;
    width: 500px;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: space-between; 
    display: inline-block;
    margin: 0 auto;
    visibility: hidden;
    position: relative;
    /* top: 80px; */
    border: 5px solid white;
}

#player1Score {
    height: 100px;
    width: 100px;
    font-size: 35px;
    top: 10px;
    position: absolute;
    left: 10px;
    color: white;
}
#player2Score {
    height: 100px;
    width: 100px;
    font-size: 35px;
    top: 10px;
    position: absolute;
    left: 390px;
    color: white
}
#playerSq {
    top:225px;
    height: 50px;
    width: 10px;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 15px;
}
#playerSq2 {
    top: 225px;
    height: 50px;
    width: 10px;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 475px;
}
#message1 {
    background: black;
    height: 100px;
    width: 250px;
    top: 10px;
    left: 125px;
    /* display: inline-block; */
    color:white;
    font-size:30px;
    position: absolute;
    margin: 0 auto;
    visibility: hidden;
}
#message2 {
    background: black;
    height: 100px;
    width: 250px;
    top: 10px;
    left: 125px;
    display: inline-block;
    color:white;
    font-size:30px;
    position: absolute;
    visibility: hidden;
    
}
#circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
    position: absolute;
    left: 245px;
    top: 245px;
    /* z-index: 1; */
}
#player1close {
    background: black;
    height: 100px;
    width: 250px;
    top: 350px;
    left: 125px;
    display: inline-block;
    color:white;
    font-size:20px;
    position: absolute;
    visibility: hidden;
    
}
#player2close {
    background:black;
    height: 100px;
    width: 250px;
    top: 350px;
    left: 125px;
    display: inline-block;
    color:white;
    font-size:20px;
    position: absolute;
    visibility: hidden;
}
#player1won {
    background: black;
    height: 100px;
    width: 250px;
    top: 95px;
    left: 125px;
    display: inline-block;
    color:white;
    font-size:70px;
    position: absolute;
    visibility: hidden;
    
}
#player2won {
    background:black;
    height: 100px;
    width: 250px;
    top: 95px;
    left: 125px;
    display: inline-block;
    color:white;
    font-size:70px;
    position: absolute;
    visibility: hidden;
}
#reset{
    margin: 0 auto;
    font-size: 50px;
    left: 175px;
    top: 220px;
    position: absolute;
    border-radius: 20%;
    font-family: 'VT323', monospace;
    background: black;
    color: white;
    border: none;
    visibility: hidden;
}